<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-lg-image src="./assets/img/salao2.jpg">
    <mat-card-title-group class="card-container">
      <mat-card-content style="width:40%;" d-flex>
        <mat-card-title>FIRE BURGER</mat-card-title>
        <p>
          Somos a Fire Burger, uma hamburgueria artesanal nascida em 2022, com o objetivo de oferecer aos nossos
          clientes o melhor em termos de qualidade e sabor. Utilizamos apenas ingredientes de primeira qualidade em
          nossos lanches, desde a carne do hambúrguer até os pães e os acompanhamentos.
          Aqui na Fire Burger, acreditamos que um bom hambúrguer é muito mais do que um simples sanduíche. Ele é uma
          experiência gastronômica completa, que deve ser apreciada com todos os sentidos. É por isso que nos esforçamos
          para criar um ambiente acolhedor e descontraído, onde nossos clientes possam desfrutar de nossos lanches com
          tranquilidade e conforto.
          Nossos hambúrgueres são cuidadosamente preparados por nossa equipe de chefs, que utilizam técnicas artesanais
          para garantir que cada lanche seja perfeito. Além disso, nossos ingredientes são cuidadosamente selecionados
          para garantir que sejam frescos e saborosos.
          Na Fire Burger, acreditamos que a qualidade é a chave para o sucesso. É por isso que estamos sempre buscando
          novas formas de melhorar a qualidade de nossos lanches e serviços. Queremos ser reconhecidos como a melhor
          hamburgueria artesanal da região, e estamos trabalhando duro para alcançar esse objetivo.
          Venha nos visitar e experimente nossos lanches deliciosos. Estamos ansiosos para recebê-lo na Fire Burger!
        </p>
        <!-- {{longText}} -->
      </mat-card-content>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
