<div class="container">
  <div class="nav-container">
    <img src="./assets/img/logo-preto-peq.png" alt="logo" class="img-fundo">
    <button class="pulsating" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>CHEFF PEDRO</span>
    </button>
    <button mat-menu-item>
      <mat-icon>description</mat-icon>
      <span>SOBRE</span>
    </button>
    <button mat-menu-item>
      <mat-icon>menu_book</mat-icon>
      <span>CARDIOPIO</span>
    </button>
    <button mat-menu-item>
      <mat-icon>moped</mat-icon>
      <span>DELIVERY</span>
    </button>
    <button mat-menu-item>
      <mat-icon>outdoor_grill</mat-icon>
      <span>NOSSA COZINHA</span>
    </button>
    <button mat-menu-item>
      <mat-icon>piano</mat-icon>
      <span>TERÇAS DO ROCK</span>
    </button>
    <button mat-menu-item>
      <mat-icon>event_available</mat-icon>
      <span>RESERVAS</span>
    </button>
    <button mat-menu-item>
      <mat-icon>cake_add</mat-icon>
      <span>EVENTOS</span>
    </button>
    <button mat-menu-item>
      <mat-icon>work</mat-icon>
      <span>CONSULTORIA</span>
    </button>
    <button mat-menu-item>
      <mat-icon>contact_page</mat-icon>
      <span>CONTATO</span>
    </button>
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>LOGIN</span>
    </button>
  </mat-menu>
</div>
