<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group class="card-container">
      <mat-card-content style="width:40%;" d-flex>
        <mat-card-title>CHEFF PEDRO</mat-card-title>
        <p>
          Conheça o Chef Pedro, nosso mestre em lanches de hambúrguer artesanal. Com anos de experiência em culinária,
          ele se especializou na criação de receitas inovadoras e surpreendentes que deixam nossos clientes com água na
          boca.
          O Chef Pedro é um verdadeiro artista na cozinha. Ele se dedica inteiramente a criar lanches que sejam não
          apenas deliciosos, mas também bonitos e criativos. Cada um de seus lanches é feito com cuidado e atenção aos
          detalhes, resultando em uma experiência gastronômica única.
          Seus hambúrgueres são preparados com ingredientes frescos e de alta qualidade, escolhidos a dedo para garantir
          que cada mordida seja uma explosão de sabores. Desde os pães macios e frescos até a carne suculenta e
          saborosa, cada ingrediente é escolhido com muito cuidado.
          Além disso, o Chef Pedro está sempre experimentando novas receitas e técnicas de cozinha para criar lanches
          ainda mais surpreendentes. Ele é um verdadeiro inovador, sempre em busca de novas maneiras de surpreender e
          encantar nossos clientes.
          Venha visitar nossa hamburgueria e experimente os lanches incríveis do Chef Pedro. Você não vai se arrepender!
        </p>
        <!-- {{longText}} -->
      </mat-card-content>
    </mat-card-title-group>
    <img mat-card-lg-image src="./assets/img/cheff.jpg">
  </mat-card-header>
</mat-card>
